/* global styling（注意：这会作用于全站排版，不想要就删掉这一段） */
p, h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }
h1, h2, h3, h4, h5, h6 { letter-spacing: 2px; word-spacing: 4px; }
p { letter-spacing: 1px; word-spacing: 2px; }

/* loader styling */
#loading-box {
  position: fixed;
  z-index: 10000;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #a92727;
}
#loading-box .loader-o {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 200px; height: 120px;
  margin: auto;
  text-align: center;
}
#loading-box .loader-o .wrapper {
  position: relative;
  height: 100%; width: 100%;
}
#loading-box .loader-o .wrapper .squares {
  position: relative;
  width: 80px; height: 80px;
  margin-left: auto; margin-right: auto;
  font-size: 0;
  border: 1px dashed rgba(255, 255, 255, 0.2);
}
#loading-box .loader-o .wrapper .squares .load-square {
  display: inline-block;
  width: 39px; height: 39px;
  position: absolute;
  background-color: #fff;
}
#loading-box .loader-o .wrapper .squares .load-square:first-of-type {
  left: 0; top: 0;
  animation: first-square 7s infinite linear;
}
#loading-box .loader-o .wrapper .squares .load-square:nth-of-type(2) {
  right: 0; bottom: 0;
  animation: second-square 7s infinite linear;
}
#loading-box .loader-o .wrapper p {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
}
/* 加载完成后的隐藏双保险 */
#loading-box.loaded { z-index: -1000; }
#loading-box.loaded .loader-o { display: none; }

/* first square */
@keyframes first-square {
  0%, 20%   { transform: translate(0, 0); }
  25%, 45%  { transform: translate(39px, 0); }
  50%, 70%  { transform: translate(39px, 39px); }
  75%, 95%  { transform: translate(0, 39px); }
  100%      { transform: translate(0, 0); }
}

/* second square */
@keyframes second-square {
  0%, 20%   { transform: translate(0, 0); }
  25%, 45%  { transform: translate(-39px, 0); }
  50%, 70%  { transform: translate(-39px, -39px); }
  75%, 95%  { transform: translate(0, -39px); }
  100%      { transform: translate(0, 0); }
}