/* 手机端导航调整 */
@media screen and (max-width:900px){

    /* 保留导航容器 */
    #nav #menus{
        display:flex!important;
        align-items:center;
    }


    /* 隐藏顶部一级菜单 */
    #nav #menus > .menus_items{
        display:none!important;
    }


    /* 保留右侧按钮 */
    #nav #menus #nav-right{
        display:flex!important;
        align-items:center;
        position:static!important;
        transform:none!important;
    }

}